<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="dataSource" class="org.mariadb.jdbc.MariaDbDataSource">
        <property name="portNumber" value="3306"/>
        <property name="serverName" value="mariadb"/>
        <property name="databaseName" value="taskmenegment"/>
        <property name="user" value="admin"/>
        <property name="password" value="123456"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.kovaliv.models.Column</value>
                <value>com.kovaliv.models.Task</value>
                <value>com.kovaliv.models.Board</value>
                <value>com.kovaliv.models.Comment</value>
                <value>com.kovaliv.security.models.User</value>
            </list>
        </property>
    </bean>

    <bean id="txManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="com.kovaliv"/>
</beans>